<ion-header>

  <ion-navbar>
    <ion-title>{{mode}} Receita</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
        <ion-list>
            <ion-item>
                <ion-label floating>Titulo</ion-label>
                <ion-input type="text" formControlName="title"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Descricao</ion-label>
                <ion-textarea type="text" formControlName="description"></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-label floating>Dificuldade</ion-label>
                <ion-select formControlName="difficulty">
                    <ion-option *ngFor="let option of selectOptions" [value]="option">{{ option }}</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>
        <button type="button" ion-button block clear (click)="onManageIngredients()">Alterar Ingredientes</button>
        <ion-list formArrayName="ingredients">
            <ion-item *ngFor="let igControl of recipeForm.get('ingredients').controls; let i = index">
                <ion-label>Nome</ion-label>
                <ion-input type="text" [formControlName]="i"></ion-input>
            </ion-item>
        </ion-list>
        <button type="submit" ion-button block [disabled]="!recipeForm.valid">{{ mode }} Receita</button>
    </form>
</ion-content>
